/* Header */
.success.alert {
  color: yellow 
}

a.alert {
    color: yellow
}

a {
    color: blue;
}


.boxes p.thing-a {
    background-color: red;
}

.boxes .thing-a {
    background-color: purple;
}

.boxes p {
    background-color: blue;
}



/* Main */
a:visited {
    color: green;
}

a:hover, a:focus {
    font-size: 3em;
    color: orange;
    font-weight: 900;
}

/* Footer */

