* {
    box-sizing: border-box;
}

li {
    display: inline-block;
    width: 200px;
    border: 1px solid black ;
    border-bottom-width:5px;
}

/* Flexbox container */
.boxes {
    display: flex;
    flex-wrap: wrap;
    background-color: rebeccapurple;
}

/* Flexbox items */
.boxes div {
    background-color: orange;
    border: 5px solid rebeccapurple;
    margin: 0;
    padding: .25em;
    flex-basis: 50%;
}

/* Media Queries */

/* width > 768px */
@media (min-width: 768px) {
    /* a normal css rule */
    body {
        background-color: lightblue;
    }

    .boxes div {
        flex-basis: 33%;
    }
}


@media (min-width: 992px) {
    body {
        background-color: darkblue;
    }

    .boxes div {
        flex-basis: 25%;
        flex-grow: 1;
    }

    h1 {
        color: white;
    }
}





